AUTH_SECRET="M4/2aXTVDqRjX04wOEHaxtbQq/IczKLi/CWHwImelW4=" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GITHUB_ID="Ov23liay47jZrnekZH2J"
AUTH_GITHUB_SECRET="14165a9a32c23f7ad85fbfb3eae7783c599c17f1"